<div class="container">
<h1> Add New Author</h1>
<%= form_for :author, url: authors_path do |f| %>

<div class="form-group">
<%= f.label :fname %>
<%= f.text_field :fname %>
</div>

<div class="form-group">
<%= f.label :lname %>
<%= f.text_field :lname %>
</div>

<div class="form-group">
<%= f.label :bio %>
<%= f.text_area :bio %>
</div>


<div class="form-group">
<%= f.submit %>
<%=link_to "Cancel", authors_path, class:"btn btn-default" %>
</div>
<% end %>
</div>
</div>