<div class="container">
<h3>Book Details</h3>
<p>Book Title: <%= @book.title %> </p>
<p>Book Price: <%= @book.price %> </p>
<p>Book Publisher: <%= @book.publisher %> </p>
<p>Book Desc: <%= @book.description %> </p>
<p>Book ID: <%= @book.book_id %> </p>

</div>