<!DOCTYPE html>
<html>
  <head>
    <title>BookStore2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= link_to "Home", '#' %>
  <%= link_to "About Us", '#' %>
  <%= link_to "Contact Us", '#' %>
    <div class="container">
    <%= yield %>
    <div class="container">
 <h1 class="jumbotron-heading">Album example</h1>
<div class="container">
 <div class="row">
 <div class="col">
 <p> </p>
 </div>
 <div class="col">
 <p> </p>
 </div>
 </div></div>
    </div>
  </body>
</html>
